<div class="row ml-0">
  <%= form_with model: membership, local: true do |form| %>

    <!--    <div class="form-group">-->
    <%#= form.label "image" %>
    <%#= form.file_field :flyer %>
    <!--    </div>-->
    <div class="form-group">
      <%= form.label :user_id %>
      <%= form.collection_select :user_id, User.order(:user_name),:id,:user_name  %>
    </div>
    <div class="form-group">
      <%= form.label :organization_id %>
      <%= form.collection_select :organization_id , Organization.where(id: organization),:id,:name %>
    </div>
    <div class="form-group mt-2">
      <%= form.submit "Invite", class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>
  <% end %>
</div>
