<p id="notice"><%= notice %></p>

<h1>Memberships</h1>

<table class="table table-hover">
  <thead>
  <th>N</th>
  <th>Organization Id</th>
  <th>Organization Name</th>

  </thead>
  <tbody>
  <% @memberships.each_with_index do |membership, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= membership.organization_id %></td>
      <td><%= link_to membership.organization.name, controller: "organizations", action: "show", id: membership.organization %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>
