<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
  <th>N</th>
  <th>User_Id</th>
  <th>User_Name</th>

  </thead>
  <tbody>
  <% @membership.each_with_index do |membership, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= membership.user_id %></td>
      <td><%= membership.user.user_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
