<!--<button type="button" class="btn btn-outline-secondary">-->
  <%#= link_to 'New Guest', new_event_guest_path(@guest[0].event_id) %>
<!--</button>-->
<!--<div class="row">-->
  <%# @guest.each do |guest| %>
    <%#= render partial: 'users/user_title', locals: { user: guest.user , admin: false } %>
  <%# end %>
<!--</div>-->

<table class="table table-hover">
  <thead>
  <th>N</th>
  <th>User Name</th>
  <th>Event Name</th>
  <th colspan="2"><button type="button" class="btn btn-outline-secondary">
    <%= link_to 'Invite', new_event_guest_path(@guest[0].event_id) %>
  </button></th>

  </thead>
  <tbody>
  <% @guest.each_with_index do |guest, i| %>
    <tr>
      <% if guest.user!=current_user %>
      <td><%= i+1 %></td>
      <td><%= link_to guest.user.user_name, controller: "users", action: "show", id: guest.user %></td>
      <td><%= link_to guest.event.name,controller: "events", action: "show", id: guest.event %></td>
        <td>
          <button type="button" class="btn btn-outline-secondary">
            <%= link_to 'Delete', { controller: "guests", action: "destroy",guest: guest, id: guest.id }, method: :delete%>
          </button>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>