<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label "Name" %><br />
    <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", required: true %>

  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autofocus: true, autocomplete: "location", required: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <!--  TODO polisas -->
  <div>
    <%= f.check_box :description, required: true%>
    <a  href="https://www.termsofservicegenerator.net/live.php?token=8O9GlzxbURV6B49FCvvS24SNxqlyAK0t" target="_blank">
      I agree with Terms and Conditions of Use
    </a>
  </div>
  <div>
    <%= f.check_box :description, required: true %>
    <a  href='https://www.termsofusegenerator.net/live.php?token=jqqWPbz5RJ5ZF8EHUy00dPPn9HyJlAr0' target="_blank">
      I agree with Terms of Use
    </a>
  </div>
  <!--    EDN-->
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
