<p id="notice"><%= notice %></p>
<h1><%=@user.user_name %> Profile
  <div class="btn-group">
    <% if can? :manage, @user %>
      <button type="button" class="btn btn-outline-secondary"><%= link_to 'Edit', edit_user_path(@user) %></button>
      <button type="button" class="btn btn-outline-secondary">
        <%= link_to 'Delete', { controller: "users", action: "destroy",user: @user, id: @user.id }, method: :delete%>
      </button>
      <button type="button" class="btn btn-outline-secondary"><%= link_to 'New Event', new_event_path%></button>
      <button type="button" class="btn btn-outline-secondary"><%= link_to 'New Organization', new_organization_path %></button>
    <%end %>
  </div>
</h1>
<div>
  <%if @user.flyer.attached?%>
    <%= image_tag(user.flyer, width: "400px")%>
  <%else%>
    <%= image_tag("thumbnail.svg", class: "card-img-top", width: "400px", background: "#55595c", color: "#eceeef")%>
  <%end%>
</div>
<table class="table table-hover">
  <thead>
  <th>User Name</th>
  <th>Email</th>
  <th>Location</th>
  <th>Description</th>
  </thead>
  <tbody>
  <tr>
    <td><%= @user.user_name %></td>
    <td><%= @user.email %></td>
    <td><%= @user.location %></td>
    <td><%= @user.description %></td>
<!--    <td><%#= link_to "Events", controller: "guests", action: "index", user_id: @user %></td>-->
<!--    <td><%#= link_to "Organizations", controller: "memberships", action: "index", user_id: @user %></td>-->
  </tr>


  </tbody>
</table>
<hr>
<h1><%=@user.user_name %> Create Events</h1>
<div class="row">
  <% @guests.each do |guest| %>
    <% if guest.owner==true %>
      <%= render partial: 'events/event_title', locals: { event: guest.event , admin: false} %>
    <% end %>
  <% end %>
</div>
<hr>
<h1>All <%=@user.user_name %> Events</h1>
<div class="row">
  <% @guests.each do |guest| %>
    <% if  guest.event.private==false or (Guest.where(user_id: current_user.id).where(event_id: guest.event.id).first!=nil) or current_user.Admin %>
    <%= render partial: 'events/event_title', locals: { event: guest.event, admin: false } %>
    <% end %>
  <% end %>
</div>
<hr>
<h1><%=@user.user_name %> Organizations</h1>
<div class="row">
  <% @memberships.each do |membership| %>
    <%= render partial: 'organizations/organization_title', locals: { organization: membership.organization , admin: false } %>
  <% end %>
</div>
<hr>
<div class="btn-group">
  <%# if can? :manage, @user %>
<!--    <button type="button" class="btn btn-outline-secondary"><%#= link_to 'Edit', edit_user_path(@user) %></button>-->
<!--    <button type="button" class="btn btn-outline-secondary">-->
      <%#= link_to 'Delete', { controller: "users", action: "destroy",user: @user, id: @user.id }, method: :delete%>
<!--    </button>-->
<!--    <button type="button" class="btn btn-outline-secondary"><%#= link_to 'New Event', new_event_path%></button>-->
<!--    <button type="button" class="btn btn-outline-secondary"><%#= link_to 'New Organization', new_organization_path %></button>-->
  <%#end %>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'home', root_path %></button>
</div>

<div class="btn-group">
<!--  <button type="button" class="btn btn-outline-secondary"><%#= link_to 'New Event', new_event_path%></button>-->
<!--  <button type="button" class="btn btn-outline-secondary"><%#= link_to 'New Organization', new_organization_path %></button>-->
</div>