<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Events</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--  <th>-->
<!--    Event Name-->
<!--  </th>-->
<!--  <th>-->
<!--    Event Location-->
<!--  </th>-->
<!--  <th>-->
<!--    Event Vote Date-->
<!--  </th>-->

<!--  </thead>-->

<!--  <tbody>-->
    <%# @events.each do |event| %>
<!--      <tr>-->
<!--        <td><%#= link_to event.name, event %></td>-->
<!--        <td><%#= event.location %></td>-->
<!--        <td><%#= event.voted_date %></td>-->
<!--        <td><%#= link_to 'Edit', edit_event_path(event) %></td>-->
<!--        <td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
</table>
<!--<table class="table table-hover">-->
<!--  <thead>-->
<!--  <th>Name</th>-->
<!--  <th>Location</th>-->
<!--  <th>Vote Date</th>-->
<!--  <th>Organization</th>-->
<!--  <th>Details</th>-->
<!--  </thead>-->
<!--  <tbody>-->
  <%# @events.each do |event| %>
<!--    <tr>-->
<!--      <td><%#= event.name%></td>-->
<!--      <td><%#= event.location %></td>-->
<!--      <td><%#= event.voted_date %></td>-->
<!--      <td><%#= link_to event.organization.name, controller: "organizations", action: "show", id: event.organization %></td>-->
<!--      <td><%#= link_to "[more...]" , event %></td>-->

<!--      <td><%#= link_to 'Edit', edit_event_path(event) %></td>-->
<!--      <td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->
<!--<br>-->


<p id="notice"><%= notice %></p>
<!--<button type="button" class="btn btn-outline-secondary"><%#= link_to 'New Event', new_event_path%></button>-->
<h1><%=current_user.user_name %> Create Events</h1>
<div class="row">
  <% Guest.includes(:event).where(user_id: current_user.id).each do |guest| %>
    <% if guest.owner %>
      <%= render partial: 'events/event_title', locals: { event: guest.event , admin: false} %>
    <% end %>
  <% end %>
</div>
<hr>
<h1><%=current_user.user_name %> Events </h1>
<div class="row">
  <%  @events.each do |event| %>
    <% event.guests.each do |guest| %>
      <% if guest.user==current_user %>
        <%= render partial: 'events/event_title', locals: { event: event, admin: false } %>
      <% end %>
    <% end %>
  <% end %>
</div>
<hr>
<h1><%=current_user.user_name %> Public Organization Events </h1>
<div class="row">
    <%Membership.includes(:organization).where(user_id: current_user).each_with_index do |organization| %>
<!--    organization.organization-->
    <% Event.where(organization_id: organization.organization.id).each_with_index do |event| %>
      <% if event.private==false %>
        <%= render partial: 'events/event_title', locals: { event: event, admin: false } %>
      <% end %>
    <% end %>
  <% end %>
</div>
