<p id="notice"><%= notice %></p>
<table class="table table-hover">
  <thead>
  <th>Event</th>
  <th>Location</th>
  <th>Description</th>
  <th>Guest</th>
  <th>Report</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @event.name %></td>
      <td><%= @event.location %></td>
      <td><%= @event.description %></td>
      <td><%= link_to "Guests", controller: "guests", action: "show", event_id: @event %></td>
      <td><%= link_to "Report", controller: "reports", action: "show", event_id: @event %></td>
    </tr>
  </tbody>
</table>

<%#= @event.name %>
<%#= @event.location %>
<%#= @event.description %>
<!--<li><%#= link_to "Guests", controller: "guests", action: "show", event_id: @event %></li>-->
<!--<li><%#= link_to "Report", controller: "reports", action: "show", event_id: @event %></li>-->

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
