<p id="notice"><%= notice %></p>
<div>
  <%if @event.flyer.attached?%>
    <%= image_tag(@event.flyer, width: "400px") %>
  <%else%>
    <%= image_tag("thumbnail.svg", class: "card-img-top", width: "400px", background: "#55595c", color: "#eceeef") %>
  <%end%>
</div>
<table class="table table-hover">
  <thead>
  <th>Event</th>
  <th>Location</th>
  <th>Description</th>
  <th>Final Date</th>
  <th>Guest</th>
  <th>Dates Options</th>
  <th>Organization</th>
  <th>Comment</th>
  </thead>
  <tbody>


  <tr>
    <td><%= @event.name %></td>
    <td><%= @event.location %></td>
    <td><%= @event.description %></td>
    <td><%= @event.voted_date %></td>
    <td><%= link_to "Guests", controller: "guests", action: "show", event_id: @event %></td>
    <td><%= link_to "Dates Options", controller: "date_options", action: "show", event_id: @event %></td>
    <td><%= link_to @event.organization.name , controller: "organizations", action: "show", id: @event.organization_id %></td>
    <td><%= link_to "Comments", controller: "comments", action: "show", event_id: @event %></td>
  </tr>

  </tbody>
</table>
<hr>
<h1>Guests</h1>
<div class="row">
  <% @guest.each do |guest| %>
    <%= render partial: 'users/user_title', locals: { user: guest.user , admin: false } %>
  <% end %>
</div>
<hr>
<h1>Dates Options</h1>
<table class="table table-hover">
  <thead>
  <th>N</th>
  <th>Date</th>
  <th><button type="button" class="btn btn-outline-secondary">
    <%= link_to "Vote", controller: "date_options", action: "show", event_id: @event %>
  </button>
  </th>
  </thead>
    <tbody>
    <% @date_option.each_with_index do |date_option, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= date_option.date %></td>
      </tr>
      <%end %>
    </tbody>
</table>
<hr>
<!--Comentarios-->
<hr>
<!--Multimedia-->
<hr>
<hr>

<div class="btn-group">
  <% begin %>
      <% if Guest.where(event_id: @event , owner: true)[0].user==@current_user %>
        <button type="button" class="btn btn-outline-secondary"><%= link_to 'Edit', edit_event_path(@event) %></button>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to 'Delete', { controller: "events", action: "destroy",event: @event }, method: :delete, class: ["btn", "btn-primary"] %>
        </button>
      <% end  %>
  <%rescue %>
  <%end %>

  <button type="button" class="btn btn-outline-secondary"><%= link_to "Report", controller: "reports", action: "show", event_id: @event %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'home', root_path %></button>
</div>

<!--t.boolean "private"-->
<%#= @event.creation_date %>