<p id="notice"><%= notice %></p>
<table class="table table-hover">
  <thead>
  <th>N</th>
  <th>Date</th>

  </thead>
  <tbody>
  <% @date_option.each_with_index do |date_option, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= date_option.date %></td>
    </tr>
  <% end %>
  <button type="button" class="btn btn-outline-secondary"><%= link_to 'Home', root_path %></button>
  </tbody>

</table>

<!--<button type="button" class="btn btn-outline-secondary"><%#= link_to 'Edit', edit_date_option_path(@date_option) %></button> |-->
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'New Date Option', new_event_date_option_path(@date_option[0].event_id) %></button>
