<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div>
      <%if organization.flyer.attached?%>
        <%= link_to image_tag(organization.flyer, width: "400px"), url_for(organization) %>
      <%else%>
        <%= link_to image_tag("thumbnail.svg", class: "card-img-top", width: "400px", background: "#55595c", color: "#eceeef"), url_for(organization) %>
      <%end%>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= "Name:" %>
        <%= link_to organization.name, organization %></p>
      <p class="card-text">
        <%= "Description:" %>
        <%= organization.description %></p>
      <p class="card-text">
        <%= "Owner:" %>
        <% Membership.includes(:user).where(organization_id: organization.id).each_with_index do |h| %>
        <%if h.owner %>
            <%= h.user.user_name %>
        <% end %>
          <%end %></p>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "View", organization %></button>
        <% if Membership.where(organization_id: organization , owner: true)[0].user==@current_user or admin  %>
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_organization_path(organization) %></button>
        <% end %>
      </div>
      <!--    <small class="text-muted"><%#= "#{(event.voted_date - DateTime.now.to_date).to_i} To Vote!" %></small>-->
      <!--  </div>-->
    </div>
  </div>
</div>