<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
  <th>N</th>
  <th>User Id</th>
  <th>User Name</th>
  <th>Description </th>
  <th>Event Name</th>

  </thead>
  <tbody>
  <% @report.each_with_index do |report, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= report.user_id %></td>
      <<td><%= link_to report.user.user_name, controller: "users", action: "show", id: report.user %></td>
      <td><%= report.description %></td>
      <td><%= link_to report.event.name,controller: "events", action: "show", id: report.event %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!--<%#= link_to 'Edit', edit_report_path(@report) %> |-->
<%#= link_to 'Back', reports_path %>
