<!DOCTYPE html>
<html>
<head>
  <title>CourseProjectMdelamazaAfernandez</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
<div class="container">
  <style>
    a:link {
      color: black;
      background-color: transparent;
      /*text-decoration: underline;*/
    }

    a:visited {
      color: black;
      background-color: transparent;
      /*text-decoration: underline;*/
    }

    a:hover {
      color: black;
      background-color: transparent;
      /*text-decoration: underline;*/
    }

    a:active {
      color: black;
      background-color: transparent;
      /*text-decoration: underline;*/
    }
  </style>
  <!--  <h1 class="text-muted"><%#= link_to "Meeting Organization", root_path %></h1>-->

</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-header">
    <a class="navbar-brand" href=<%= root_path %>>The Meeting</a>
  </div>
  <!-- Links -->
  <%if user_signed_in? %>
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= user_path(current_user)%>">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= events_path%>">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= organizations_path%>">Organizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= conversations_path%>">Mail Box</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=user_notifications_path(current_user) %>">Notifications</a>
        </li>
      </ul>

      <%= form_tag(search_page_path, :method => "get",
                   class: 'navbar-form navbar-left') do %>
        <div class="input-group">
          <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
          <div class="input-group-btn">
            <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
          </div>
        </div>
      <% end %>

      <% if current_user.Admin %>
      <ul class="nav navbar-nav navbar-right">
        <a class="nav-link" href="<%= admin_path%>">Admin</a>
      </ul>
        <%end %>
  <%end %>
    <%if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <button type="button" class="btn btn-dark navbar-btn">Log Out</button>
      <%end %>
    <%else %>
      <%=link_to new_user_session_path do %>
        <button type="button" class="btn btn-dark navbar-btn">Sign in</button>
      <%end %>
    <%end %>

</nav>
</div>
</header>
<div id="container">
  <div class="row">
    <%if user_signed_in? %>
  <seccion class="col-sm-1.5" id="customer_info" >
      <div>
        <div class="card-body">
          Welcome <%=current_user.user_name %>
        </div>
<!--        <div class="card-body">-->
          <%#if  current_user.last_sign_in_at==nil%>
<!--            hola-->
<!--            Last Visit <%#=current_user.created_at %>-->
          <%#else %>
<!--          Last Visit <%#=current_user.last_sign_in_at %>-->
        <%#end %>
<!--            </div>-->
        <div class="card-body">
          <%if current_user.Admin %>
            Rol: Amin
            <%else %>
            Rol: User
            <%end %>
        </div>
      </div>
      </seccion>
      <%end %>
  <main class="col-sm-10" id="main_content">
    <% if notice.present? %>
      <div class="row ml-0 mt-3" role="alert">
        <div id="notice" class="alert alert-success"><%= notice %></div>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="row ml-0 mt-3" role="alert">
        <div id="alert" class="alert alert-danger"><%= alert %></div>
      </div>
    <% end %>
    <%= yield %>

    <hr>
  </main>
  </div>
</div>
<footer>
  <h4>
    Contact Information
  </h4>
  <p>Contact us at: themeetingwebtech@gmail.com</p>
  <a  href="https://www.termsofservicegenerator.net/live.php?token=8O9GlzxbURV6B49FCvvS24SNxqlyAK0t" target="_blank">
    Terms and Conditions of Use |
  </a>
  <a  href='https://www.termsofusegenerator.net/live.php?token=jqqWPbz5RJ5ZF8EHUy00dPPn9HyJlAr0' target="_blank">
    Terms of Use
  </a>
</footer>
</body>
</html>
