<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectMdelamazaAfernandez</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1><%= link_to "Meeting Organization", root_path %></h1>
  </header>
  <nav>
    <ul id="navbar">
      <li><%= link_to "Profile", events_path %></li>
      <li><%= link_to "Mail Box", shopping_cart_path %></li>
      <li><%= link_to "Search", customer_orders_path %></li>
    </ul>
  </nav>
</html>
