<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectMdelamazaAfernandez</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1><%= link_to "Meeting Organization", root_path %></h1>
  </header>
  <nav>
    <ul id="navbar">
      <li><%= link_to "Profile", users_path %></li>
      <li> <button type="button" class="btn btn-dark"><%= link_to "Mail Box", guests_path %></button></li>
      <li><%= link_to "Search", events_path %></li>
    </ul>
  </nav>
  <div id="container">
    <main id="main_content">
      <button type="button" class="btn">Basic</button>
      <%= yield %>
    </main>
  </div>
  <footer>
    <h4>
      Contact Information
    </h4>
    <p>Contact us at: help@MeetingOrganizationcom</p>
  </footer>
  </body>
</html>
